<div class="full">
<h2 class="heading">SETTLEMENT DETAILS</h2>

        <p-dataView [value]="client">
                <ng-template let-client pTemplate="listItem">
                
                    <div class='parent grid-parent'>
                                <div class='child1'>
                                        Total Traded Amount:<br>
                                        Cost of Settlement: <br>
                                        Netted Amount: 
                                </div>
                                <div class='child2'>
                                        {{client.netTradedAmt}}<br>
                                        {{client.settlementCost}}<br>
                                        {{client.nettedAmt}}
                                </div>
                        </div>
                     
                </ng-template>
            </p-dataView>
   
    
<h3>Netted Shares:</h3>
<p-table [value]="nettedShares">
        <ng-template pTemplate="header" >
            <tr>
                <th *ngFor="let col of cols">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nettedShares>
            <tr>
                <td *ngFor="let col of cols">
                        {{nettedShares[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>

    <h4>Download Obligation Report</h4>
    <h4>Download Settlement Report</h4>
</div>
